// Colors
$white: #fff !default;
$black: #000 !default;

$greyjerboa: #eee !default;
$greywolf: #d6d6d6 !default;
$greymouse: #ccc !default;
$greyelephant: #aaa !default;
$greygrizzly: #666 !default;
$greybat: #333 !default;

$gold: #f90 !default;
$orange: #f50 !default;
$red: #f00 !default;
$pink: #f09 !default;
$plum: #c0f !default;
$violet: #66f !default;
$royal: #06f !default;
$blue: #0af !default;
$turquoise: #0cc !default;
$green: #0c0 !default;
$lime: #0f0 !default;
$yellow: #ff0 !default;

$lightgold: #fc3 !default;
$lightorange: #f93 !default;
$lightred: #f99 !default;
$lightpink: #f9c !default;
$lightplum: #c9f !default;
$lightviolet: #99f !default;
$lightroyal: #69f !default;
$lightblue: #0cf !default;
$lightturquoise: #0ff !default;
$lightgreen: #3f9 !default;
$lightlime: #9f0 !default;
$lightyellow: #ff6 !default;

$darkgold: #c90 !default;
$darkorange: #f30 !default;
$darkred: #c00 !default;
$darkpink: #c36 !default;
$darkplum: #93c !default;
$darkviolet: #93a !default;
$darkroyal: #03c !default;
$darkblue: #00f !default;
$darkturquoise: #099 !default;
$darkgreen: #090 !default;
$darklime: #0c0 !default;
$darkyellow: #fd0 !default;

$darkgreywolf: $greymouse !default;
$darkgreymouse: $greyelephant !default;
$darkgreyelephant: $greygrizzly !default;
$darkgreygrizzly: $greybat !default;
$darkgreybat: $black !default;

// layout units
$gu: 8px !default;

$min-screen-width: 320px !default;
$med-screen-width: 768px !default;
$max-screen-width: 1072px !default;
$xl-screen-width: 1200px !default;


// Font Families, are rendered through mixins, defined in generic/mixins
$title-font: 'simplistic_sans', 'SimplisticSans', Arial,Helvetica,Sans,FreeSans,'Nimbus Sans L', Garuda,sans-serif !default;
$data-font: 'vpro_vesta_big', Verdana, Arial, Helvetica, Sans, FreeSans, 'Nimbus Sans L', Garuda, sans-serif !default;
$search-font: 'vpro_vesta_big', Verdana, Arial, Helvetica, Sans, FreeSans, 'Nimbus Sans L', Garuda, sans-serif !default;
$default-font: 'vpro_vesta', Verdana, Arial, Helvetica, Sans, FreeSans, 'Nimbus Sans L', Garuda, sans-serif !default;

$verdana-font: Verdana, Arial, sans-serif;
$monospace-font: Courier New, Courier, monospace !default;


// Typography Settings
$title-font-force-case: lowercase !default; // uppercase/lowercase to force that casing
// the title font is always lowercased in VPRO.nl
$title-font-letter-spacing: false !default; // value or false

$data-font-force-case: lowercase !default; // the data font is always lowercase; in the VPRO data font
// the font glyphs themselves are already uppercased

$search-font-force-case: lowercase !default; // the data font is always lowercase; in the VPRO data font
// the font glyphs themselves are already uppercased

$headings-force-weight: bold !default; // forces a font weight on h1-h4, @see styleguide
$headings-force-case: none !default; // set to uppercase/lowercase to force that casing

/*******************************/

html {
    height: 100%;
}

body {
    background-color: $greygrizzly;
    background-image: url('../img/footer-640.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 100%;
}

/* Override vpro bootstrap */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: $white;
}