// Colors
$white: #fff !default;
$black: #000 !default;

$greyjerboa: #eee !default;
$greywolf: #d6d6d6 !default;
$greymouse: #ccc !default;
$greyelephant: #aaa !default;
$greygrizzly: #666 !default;
$greybat: #333 !default;

$gold: #f90 !default;
$orange: #f50 !default;
$red: #f00 !default;
$pink: #f09 !default;
$plum: #c0f !default;
$violet: #66f !default;
$royal: #06f !default;
$blue: #0af !default;
$turquoise: #0cc !default;
$green: #0c0 !default;
$lime: #0f0 !default;
$yellow: #ff0 !default;

$lightgold: #fc3 !default;
$lightorange: #f93 !default;
$lightred: #f99 !default;
$lightpink: #f9c !default;
$lightplum: #c9f !default;
$lightviolet: #99f !default;
$lightroyal: #69f !default;
$lightblue: #0cf !default;
$lightturquoise: #0ff !default;
$lightgreen: #3f9 !default;
$lightlime: #9f0 !default;
$lightyellow: #ff6 !default;

$darkgold: #c90 !default;
$darkorange: #f30 !default;
$darkred: #c00 !default;
$darkpink: #c36 !default;
$darkplum: #93c !default;
$darkviolet: #93a !default;
$darkroyal: #03c !default;
$darkblue: #00f !default;
$darkturquoise: #099 !default;
$darkgreen: #090 !default;
$darklime: #0c0 !default;
$darkyellow: #fd0 !default;

$darkgreywolf: $greymouse !default;
$darkgreymouse: $greyelephant !default;
$darkgreyelephant: $greygrizzly !default;
$darkgreygrizzly: $greybat !default;
$darkgreybat: $black !default;