<form>
    <table>
        <thead>
            <th></th>
        </thead>
        <tbody>
            {{#elements}}
                {{!-- Use the right element partial based on their 'type' property --}}
                {{> (lookup . 'type') }}
            {{/elements}}
        </tbody>
    </table>
</form>