<li class="match">

    <input type="hidden" name="matches[{{index}}].id" value="" />

    <input type="text" name="matches[{{index}}].homeTeam" value="" />
    <input type="text" name="matches[{{index}}].awayTeam" value="" />
    <input type="datetime-local" name="matches[{{index}}].start" value="" />

    <input type="button" value="Verwijderen" class="delete-match" />

</li>