.collapsible-section {

    .collapsible-section-title {

        &:hover {
            cursor: pointer;
        }
    }

    .collapsible-section-content {
        max-height: 0;
        overflow: hidden;

        @include vendor-prefix(transition, max-height .5s ease-in-out);
    }

    &.open {

        .collapsible-section-content {

            max-height: 2000px;

        }

    }

}

/*
    .selector {
      @include prefix(transform, rotate(45deg), webkit ms);
    }
*/