.form {

  padding-bottom: 50px;

  input[type=text],
  input[type=number],
  input[type=datetime-local],
  select,
  textarea {
    position: relative;
    border: none;
    font-family: $title-font;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 4px;
  }

  input[type=datetime-local],
  input[type=text] {
    padding: 0 0 0 4px;
  }

  input[type=datetime-local]{
    line-height: 23px;
  }

  input[type=number] {
    text-align: center;
  }
}

.prediction-section .section-with-layout-content {
  padding-left: 0;
  padding-right: 0;
}

.prediction-section .section-with-layout-title {
  padding-left: $gu;
  padding-right: $gu;
}

@include media-med-screen-width () {

  .prediction-section .section-with-layout-title {
    padding-left: 1.5 * $gu;
    padding-right: 1.5 * $gu;
  }
}

.predictions {

  font-size: 14px;

  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;

  td {
    position: relative;
    padding-bottom: 4px;
  }

  input {

    position: relative;
    top: -2px;

    height: 3*$gu;
    width: 3*$gu;

    border: 0px solid;

    text-align: center;

    &:disabled {
        background-color: rgba(255, 255, 255, 0.5);
    }

    font-family: $title-font;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
  }

}

@include media-med-screen-width () {
    .predictions {

      input {
        top: -3px;

        width: 6*$gu;
      }
    }
}


.prediction__game{
    width: 260px;
}

@include media-med-screen-width () {
    .prediction__game{
        width: 69%;
    }
}

.prediction__row {
  color: $white;
}

.prediction__row-odd {
  background-color: rgba( $green, 0.5 );
}

.prediction__row-result {
    color: rgba(255, 255, 255, 0.8 );
}

.prediction__result{
    input{
        font-family: $title-font;
        color: rgba(255, 255, 255, 0.8);
    }

}

.prediction__result-title,
.prediction__game {
  padding-left: 1*$gu;

  @include title-font();
}

@include media-med-screen-width () {

  .prediction__result-title,
  .prediction__game {
    padding-left: 6 * $gu;
  }
}


.prediction__result {
    input:disabled {
        background-color: transparent;
    }
}

.prediction__multiplier .prediction__multiplier__input {
  margin-top: 4px;
  width: 24px;
  display: none;
}

.prediction__multiplier_editable.prediction__multiplier .prediction__multiplier__input {

}

.prediction__multiplier__label {
  padding-top: 5px;
  height: 10px;
  vertical-align: top;
  display: inline-block;

  .glyph {
    font-size: 14px;
    height:10px;
    color: rgba( $white, 0.5 );
  }

  .prediction__multiplier__label-count{
    font-size: 10px;
    padding-left: 4px;
  }
}

.prediction__multiplier__input:checked + .prediction__multiplier__label .glyph,
.prediction__multiplier_editable .prediction__multiplier__label:hover .glyph,
.prediction__mulitplier_checked .prediction__multiplier__label .glyph {
  color: $white;
  cursor: pointer;
}

.prediction__multiplier_points-0.prediction__mulitplier_checked .prediction__multiplier__label .glyph {
  color: $greygrizzly;
}

.prediction__multiplier_points-2.prediction__mulitplier_checked .prediction__multiplier__label .glyph {
  color: $orange;
}

.prediction__multiplier_points-6.prediction__mulitplier_checked .prediction__multiplier__label .glyph {
  color: $red;
}

.prediction__score {
  width: 46px;
}

.prediction__points{
  width: 3*$gu;
  height: 3*$gu;

  display: block;

  position: relative;
  top: -1px;

  font-family: $title-font;
  text-align: center;
  font-size: 12px;
}

.prediction__points-0 {
    background-color: $greygrizzly;
}

.prediction__points-1 {
    background-color: $lightroyal;
}

.prediction__points-2 {
    background-color: $orange;
}

.prediction__points-3 {
    background-color: $plum;
}

.prediction__points-6 {
    background-color: $red;
}


.prediction-deadline{

    padding: 4px;

   .glyph{
        font-size: 20px;
        overflow: initial;
        display: inline-block;
        top: 3px;
        position: relative;
   }
}

.prediction__game-home,
.prediction__game-away{
    width: 115px;
    display: inline-block;

    .flag-icon{
        top: -1px;
        margin-right: 4px;
    }
}


.prediction__game-divider{
    width: 20px;
    display: inline-block;
    text-align: center;
}



.form-button-container{

    padding: 20px 0;

    input[type=button],
    input[type=submit],
    input[type=reset] {
        height: 3 * $gu;
        font-family: $title-font;
        font-size: 16px;
        line-height: 25px;
        border: none;
        background: #fff;
        padding: 0 6px;
        cursor: pointer;
        margin: 0 $gu 0 0;
    }
}

.form-row {

    .delete {
        height: 3 * $gu;
        cursor: pointer;
        padding: 0 0 0 4px;
    }
}

@include media-med-screen-width () {

  .form-row {

    .delete {
      position: relative;
      top: $gu;

      display: inline-block;
    }
  }
}
