.button {
    padding: 0 16px;
    cursor: pointer;
    text-transform: lowercase;
    color: #000;
    height: 46px;
    line-height: 46px;
    background: #fff;
    width: 50%;
    float: left;
}

.prediction-form-container {
    padding: 0 0 80px;
}

.prediction-form-button-container,
.form-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-top: 1px solid #000;
}

input:disabled{
    background: #666;
    color: #fff;
}

.not-valid input {
    border-bottom: 2px solid red !important;
    margin-bottom: -2px;
    box-sizing: content-box;
}

button[type=reset]:disabled,
button[type=submit]:disabled {
    background: $greymouse;
}

.alert-overlay{

    position: fixed;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.8);

    z-index: 1001;

    color: white;

    text-align: center;

    &.hidden{
        display: none;
    }
}

.alert-overlay__content{

    width: 300px;
    height: 60px;

    position: absolute;
    top: 50%;
    left: 50%;

    margin-top: -30px;
    margin-left: -150px;

}

.alert-overlay__close-button{
    float: none;
}