.message {
  border-bottom: 1px solid #fff;
}

.message__text {
  margin: 0 $gu;
}

@include media-med-screen-width () {
  .message__text {
    margin: 0 1.5*$gu;
  }
}

/** Admin **/

.message-admin {
  margin-top: 3*$gu;
}

.message-admin__text {
  width: 100%;
  height: 50px;
  padding: $gu;
}