<form>
    <table>
        <thead>
            <th></th>

        </thead>
        <tbody>
            {{#elements}}
                {{> (lookup . 'type') }}
            {{/elements}}
        </tbody>
    </table>
</form>