<div class="form-row matchday-admin entity-admin row">

    <input type="text" class="col-12-6" name="matchDays[{{index}}].name" />

    <span class="delete delete-entity">
        <i class="glyph glyph-close c-gold col-12-1"></i>
    </span>

</div>