<div class="form-row message-admin row">
    <div class="grid">

        <div class="col col-12-5">
            <input type="text" name="messages[{{index}}].key" class="message-admin__key" value=""/>
        </div>
        <div class="col col-12-6">
            <textarea name="messages[{{index}}].text" class="message-admin__text"></textarea>
        </div>
        <div class="delete delete-message col-12-1">
            <i class="glyph glyph-close c-gold"></i>
        </div>
    </div>
</div>